@import "../../base/vars";

.contact {
  margin-top: 80px;
  overflow: hidden;
  background-image: url("/src/assets/images/banner-section-contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__description {
    width: 100%;
    color: $text-light-color;
    background-color: $primary-color;

    &_text {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 1024px) {
        font-size: 30px;
        line-height: 140%;

        height: 100px;
      }
    }
  }
}
