@import "../../base/vars";

.site-map__accordion {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;

  &_item {
    background-color: $bg-default-color;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &.active .site-map__accordion_item-content {
      max-height: 500px;
      padding: 1rem;
    }

    &.active .fa-chevron-down {
      transform: rotate(180deg);
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-default-color;
      padding: 1rem;
      cursor: pointer;
      font-size: 16px;
      margin: 0;

      &--icon {
        transition: transform 0.3s ease;
        color: $primary-color;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;

      &--link {
        margin-bottom: 10px;
        text-decoration: none;
        color: $text-secondary-color;
        font-size: 14px;
        transition: color 0.3s ease;

        &::after {
          content: "";
          display: block;
          width: 10%;
          bottom: -8px;
          height: 1px;
          background-color: $primary-color;

          transition: transform 0.3s;
          transform: scale(0);
        }

        &:hover::after {
          transform: scale(1);
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
