@import "../../base/vars";

.site-map__payment-methods {
  padding: 30px;
  overflow: hidden;

  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
  }
}
