@use "../../base/vars" as *;
@use "../../base/mixins" as *;


.site-map__accordion {
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;

  @media (min-width: 1024px) {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: flex-start;
  }

  &_item {
    background-color: $bg-default-color;
    margin-bottom: 10px;
    

    @media (min-width: 1024px) {
      background-color: $bg-light-grey-color;
      overflow: visible;
    }

    &.active .site-map__accordion_item-content {
      max-height: 500px;
      padding: 10px;

      @media (min-width: 1024px) {
        max-height: none;
        padding: 10px;
      }
    }

    &.active .fa-chevron-down {
      transform: rotate(180deg);

      @media (min-width: 1024px) {
        display: none;
      }
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-default-color;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      margin: 0;

      @media (min-width: 1024px) {
        cursor: default;
      }

      &--icon {
        transition: transform 0.3s ease;
        color: $primary-color;

        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;

      @media (min-width: 1024px) {
        max-height: none;
        padding: 10px;
        overflow: visible;
      }

      &--link {
        margin-bottom: 10px;
        text-decoration: none;
        color: $text-secondary-color;
        font-size: 14px;
        transition: color 0.3s ease;

        &:hover {
          @include hover-underline($color: $primary-color);
        }
      }
    }
  }
}
