@import "../../base/vars";

.menu__nav {
  background-color: $bg-default-color;
  position: absolute;
  box-sizing: border-box;
  top: 90px;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;

  &_list {
    list-style: none;
    padding: 0;

    &-item {
      margin-bottom: 16px;

      &--link {
        text-decoration: none;
        color: $text-secondary-color;
        font-weight: 700;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  &.hidden {
    display: none;
  }
}
