@import "../../base/vars";

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid $secondary-color;
    background-color: $bg-default-color;
    height: 40px;
    width: 100%;
    margin-top: 20px;

    &_input {
      padding: 10px;
      border: none;
      outline: none;
      margin-right: 10px;
      color: $text-default-color;
    }

    &_icon {
      margin-right: 10px;
    }
    &_message {
      font-size: 14px;
      margin-top: 10px;
      font-weight: 700;
      color:$primary-dak-color;
    }
  }
}
