@use "../../base/reset" as *;

@use "../../base/vars" as *;

.banner-voucher {
  width: 100%;
  background-color: $primary-color;
  text-align: center;

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $bg-default-color;
    font-weight: 600;
    &_value {
      font-weight: 800;
      font-size: 16px;
      width: 63px;
      background-color: $bg-voucher-color;
    }
  }
}

.banner-marketing {
  overflow: hidden;
  background-color:$bg-dark-grey-color ;
  margin-top: 20px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__image {
    margin-left: -280px;

    &_photo {
      width: 100%;
      display: block;
      object-fit: contain;

      @media (min-width: 1024px) {
        width: auto;
      }
    }
  }

  &__description {
    width: initial;
    text-align: center;

    &_title {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      color: $text-default-color;

      @media (min-width: 1024px) {
        font-size: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      &--light {
        display: block;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        color: $text-default-color;

        @media (min-width: 1024px) {
          font-size: 100px;
        }
      }
    }

    &_text {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: $primary-color;
      margin: 8px 0;

      @media (min-width: 768px) {
        font-size: 25px;
        display: flex;
        flex-direction: column;
      }

      &--bold {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        color: $primary-color;

        @media (min-width: 1024px) {
          font-size: 60px;
        }
      }
    }
  }
}