@import 'base/reset';
@import 'base/vars';

@import 'components/header/_voucher';


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
   
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
  }

  .content {
    max-width: 1260px;
    width:100% ;
    box-sizing: border-box;
    padding: 0px 18px;
    margin: 0 auto;
  }
